.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    border: 2px solid white;
   width: 700px;
   height: 500px;
}
form{
 display: flex;
 flex-direction:  column;
 justify-content: center;
 align-items: center;
 margin-bottom: 50px;
}
.form input{
    width: 500px;
    height: 30px;
    border-radius: 2px;
    border: none;
}
.form button{
    width: 150px;
    height: 30px;
    background-color:  #687684;
    color: white;
    border: none;
    border-radius: 5px;
    
}
.form button:hover{
    background-color:  #2c3e50;
}